[submodule "src/ISDBScanner/ISDBScanner"]
	path = src/ISDBScanner/ISDBScanner
	url = https://github.com/tsukumijima/ISDBScanner
[submodule "src/EDCB/EDCB"]
	path = src/EDCB/EDCB
	url = https://github.com/xtne6f/EDCB.git
	branch = work-plus-s
[submodule "src/EDCB/EDCB_Material_WebUI"]
	path = src/EDCB/EDCB_Material_WebUI
	url = https://github.com/EMWUI/EDCB_Material_WebUI.git
[submodule "src/EDCB/BonDriver_LinuxMirakc"]
	path = src/EDCB/BonDriver_LinuxMirakc
	url = https://github.com/matching/BonDriver_LinuxMirakc.git
[submodule "src/KonomiTV/KonomiTV"]
	path = src/KonomiTV/KonomiTV
	url = https://github.com/tsukumijima/KonomiTV
[submodule "src/Amatsukaze/Amatsukaze"]
	path = src/Amatsukaze/Amatsukaze
	url = https://github.com/rigaya/Amatsukaze
[submodule "src/Mirakurun/Mirakurun"]
	path = src/Mirakurun/Mirakurun
	url = https://github.com/fa0311/Mirakurun
[submodule "src/EDCBNotifier"]
	path = src/EDCBNotifier
	url = https://github.com/tsukumijima/EDCBNotifier
